einops==0.8.1
face_alignment==1.4.1
gradio==5.41.1
imageio==2.37.0
numpy==1.24.3
Pillow==11.3.0
PyYAML==6.0.2
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
ninja==1.11.1.4
av==14.2.0
imageio-ffmpeg==0.6.0
